*.csv
*.pt
*.aux
*.out
*.log
*.db
*.svg
*.feather
*.jld
*.xlsx
*.img
*.simg
*.bin
*.gz
*.zip
*.pem 
*.h5 
*.pdf
*.gpickle
*.gif
*.dow
*.mps
*.so
*.blg
*.bbl
*.nav
*.snm 
*.toc 
*.bin 

.idea/
processed_data/

!processed_data/cplex_performance_metrics_miplib.csv
!docs/jopt2023.pdf 